@using VirtoCommerce.Web.Client.Globalization
@using VirtoCommerce.Web.Client.Extensions
@using VirtoCommerce.Web.Client.Helpers
@using VirtoCommerce.Web.Helpers
@using VirtoCommerce.Web.Models
@using VirtoCommerce.Foundation.Stores.Model
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="account-login">
                <div class="page-title">
                    <h1>@("Login or Create an Account".LocalizeHtml())</h1>
                </div>
                <form class="ajaxForm" action="@Url.FrontUrl().SubmissionUrl("ValidateMember", new { returnUrl = ViewContext.RequestContext.GetRequestValue("returnUrl") })" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.".Localize())
                    <div class="col2-set">
                        <div class="col-1 new-users">
                            <div class="content">
                                <h2>
                                    @("New Customers".LocalizeHtml())</h2>
                                <p>
                                    @("By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.".LocalizeHtml())
                                </p>
                            </div>
                            <div class="buttons-set">
                                <button onclick="window.location='@Url.FrontUrl().PageUrl("Member/Register")';" class="button" title="@("Create an Account".LocalizeHtml())" type="button">
                                    <span><span>@("Create an Account".LocalizeHtml())</span></span></button>
                            </div>
                        </div>
                        <div class="col-2 registered-users">
                            <div class="content">
                                <h2>
                                    @("Registered Customers".LocalizeHtml())</h2>
                                <p>
                                    @("If you have an account with us, please log in.".LocalizeHtml())
                                </p>
                                <ul class="form-list">
                                    <li>
                                        <label class="required" for="UserName">@("Username".Label())<em>*</em></label>
                                        <div class="input-box">
                                            <input class="input-text" data-val="true" data-val-required="@("Required".RawLabel())" id="UserName" name="UserName" type="text" value="" autocomplete="off"><br>
                                            @Html.ValidationMessage("UserName")
                                        </div>
                                    </li>
                                    <li>
                                        <label class="required" for="Password">@("Password".Label())<em>*</em></label>
                                        <div class="input-box">
                                            <input class="input-text" data-val="true" data-val-required="@("Required".RawLabel())" id="Password" name="Password" type="password" autocomplete="off"><br>
                                            @Html.ValidationMessage("Password")
                                        </div>
                                    </li>
                                    <li class="control">
                                        <div class="input-box">
                                            <input type="checkbox" id="rememberMe" name="RememberMe" value="true" />
                                            <input type="hidden" name="RememberMe" value="false" />
                                        </div>
                                        <label class="inline" for="rememberMe">@("Remember me".Label())</label>
                                    </li>
                                </ul>
                                <p class="required">
                                    * @("Required Fields".LocalizeHtml())
                                </p>

                                <div class="buttons-set">
                                    <a class="f-left" href="@Url.FrontUrl().PageUrl("Member/ForgotPassword")">@("Forgot password?".Label())</a>
                                    <button id="send2" name="send" type="submit" title="@("Login".LocalizeHtml())" class="button"><span><span>@("Login".Label())</span></span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

                @if (StoreHelper.StoreClient.GetCurrentStore().StoreState == StoreState.Open.GetHashCode())
                {

                    <div class="col2-set">
                        <div class="col-1 new-users">
                        </div>
                        <div class="col-2 registered-users">
                            <p>
                                <div class="content">
                                    @{
                                    var membershipConnects = Page_Context.Current.ExternalLogin().GetMembershipConnects().ToArray();
                                    }
                                    @if (membershipConnects.Any())
                                    {                            

                                        <h2>@("Use another service to log in.".Label())</h2>                            

                                        <form action="@(Page_Context.Current.ExternalLogin().ExternalLoginUrl(ViewContext.RequestContext.GetRequestValue("ReturnUrl")))" method="post">

                                            @Html.AntiForgeryToken()
                                            <p>
                                                @foreach (var p in membershipConnects)
                                                {
                                                    if (p.Enabled)
                                                    {

                                                    <button type="submit" name="connectName" style="border: 0; padding: 2px" value="@p.Name" title="@("Log in using your {0} account".LocalizeHtml(p.DisplayName))">
                                                        <img alt="@p.DisplayName" style="border: 0" src="@Href(String.Format("~/content/themes/default/images/social/{0}.png", p.Name))"/>
                                                    </button>                                                     
                                                    }
                                                }
                                            </p>
                                        </form>
                                    }
                                </div>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
