 @using System.Globalization
@model VirtoCommerce.Web.Models.CartModel

@if (Model.LineItems.Any())
{
    <a href="@Url.FrontUrl().PageUrl("Member/Whishlist")" title="My Wishlist">@("My Wishlist".Localize()) (@Model.LineItems.Count().ToString(CultureInfo.InvariantCulture) @String.Format("{0}", Model.LineItems.Count() > 1 ? "items" : "item"))</a>
}
else
{
    <a href="@Url.FrontUrl().PageUrl("Member/Whishlist")" title="My Wishlist">@("My Wishlist".Localize())</a>
}

