@model ChangeAccountInfoModel
@{
    ViewBag.Title = Html.Title("Account Information");
    Layout = "_Layout.cshtml";
}
<script type="text/javascript">
    function setPasswordForm(obj, arg) {
        if (arg) {
            $('#OldPassword').parents('div.fieldset').show();
            $('#OldPassword').addClass('required-entry');
            $('#NewPassword').addClass('required-entry');
            $('#confirmation').addClass('required-entry');

        } else {
            $('#OldPassword').parents('div.fieldset').hide();
            $('#OldPassword').removeClass('required-entry');
            $('#NewPassword').removeClass('required-entry');
            $('#confirmation').removeClass('required-entry');
        }
    }
</script>
<div class="dashboard">
    <div class="page-title">
        <h1>Edit Account Information</h1>
    </div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false)
        @Html.AntiForgeryToken()
        <div class="fieldset">
            <h2 class="legend">Account Information</h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="customer-name">
                        <div class="field name-firstname">
                            <label class="required" for="firstname">
                                <em>*</em>Full Name</label>
                            <div class="input-box">
                                @Html.TextBoxFor(m => m.FullName, new { @class = "input-text" })
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <label class="required" for="email">
                        <em>*</em>Email Address</label>
                    <div class="input-box">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-text" })  
                    </div>
                </li>
                <li class="control">
                    <input type="checkbox" class="checkbox" title="Change Password" onclick="setPasswordForm(this, this.checked)"
                        value="1" id="ChangePassword" name="ChangePassword" />
                    <label for="ChangePassword">Change Password</label>

                </li>
            </ul>
        </div>
        <div style="display: none;" class="fieldset">
            <h2 class="legend">Change Password</h2>
            <ul class="form-list">
                <li>
                    <label class="required" for="current_password">
                        <em>*</em>Current Password</label>
                    <div class="input-box">
                         @Html.PasswordFor(m => m.OldPassword, new { @class = "input-text" })
@*                        <input type="password" id="OldPassword" name="OldPassword" class="input-text"
                            title="Current Password">*@
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label class="required" for="password">
                            <em>*</em>New Password</label>
                        <div class="input-box">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "input-text" })
                        </div>
                    </div>
                    <div class="field">
                        <label class="required" for="confirmation">
                            <em>*</em>Confirm New Password</label>
                        <div class="input-box">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-text" })
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <p class="required">
                * Required Fields
            </p>
            <p class="back-link">
                <a href="#"><small>« </small>
                    Back</a>
            </p>
            <button class="button" title="Save" type="submit">
                <span><span>Save</span></span></button>
        </div>
    }
</div>
