@model VirtoCommerce.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
            <div class="account-create">
                <div class="page-title">
                    <h1>Create an Account</h1>
                </div>
                @using (Html.BeginForm())
                {
                                
                    @Html.AntiForgeryToken()

                    <div class="fieldset">
                        <h2 class="legend">Personal Information</h2>
                        <ul class="form-list">
                            <li class="fields">
                                <div class="customer-name">
                                    <div class="field name-firstname">
                                        <label class="required" for="firstname"><em>*</em>First Name</label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "input-text" })
                                        </div>
                                    </div>
                                    <div class="field name-lastname">
                                        <label class="required" for="lastname"><em>*</em>Last Name</label>
                                        <div class="input-box">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "input-text" })
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label class="required" for="email_address"><em>*</em>Email Address</label>
                                <div class="input-box">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "input-text" })
                                </div>
                            </li>
                            <li class="control">
                                <div class="input-box">
                                    <input type="checkbox" class="checkbox" id="is_subscribed" value="1" title="Sign Up for Newsletter" name="is_subscribed">
                                </div>
                                <label for="is_subscribed">Sign Up for Newsletter</label>
                            </li>
                        </ul>
                    </div>
                    <div class="fieldset">
                        <h2 class="legend">Login Information</h2>
                        <ul class="form-list">
                            <li class="fields">
                                <div class="field">
                                    <label class="required" for="password"><em>*</em>Password</label>
                                    <div class="input-box">
                                        @Html.PasswordFor(m => m.Password, new { @class = "input-text" })
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="required" for="confirmation"><em>*</em>Confirm Password</label>
                                    <div class="input-box">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-text" })
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="buttons-set">
                        <p class="required">* Required Fields</p>
                        <p class="back-link"><a class="back-link" href="@Url.Action("LogOn", "Account")"><small>« </small>Back</a></p>
                        <button id="send2" name="send" title="Submit" class="button" type="submit"><span><span>Submit</span></span></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

